<h1>
  Rx Examples
</h1>

<nav>
  <a routerLink="/typeahead" routerLinkActive="active">Typeahead</a>
  <a routerLink="/drag" routerLinkActive="active">Drag</a>
</nav>

<router-outlet></router-outlet>
